.token {
	display: flex;
}

.token>div {
	width: 9em;
}

.token>div, .token input {
	height: 24px !important;
}

.token>div>div {
	z-index: 2;
}

.propName, .propValue {
	border-radius: 3px;
	padding: 0 .5em;
}

.propName {
	background: rgba(100, 100, 100, 0.5);
}

.propValue {
	background: rgba(80, 80, 80, 0.3);
}