.container {
	display: flex;
	justify-content: space-evenly;
	transform-style: preserve-3d;
	transform: rotateX(90deg) translateY(-50%);
	position: absolute;
	top: 0;
	transform-origin: 0 0;
	width: 93%;
	margin-left: 1%;
}

.container>* {
	flex: 1;
	display: flex;
	flex-direction: column-reverse;
	transform-style: preserve-3d;
	transform: translateZ(-20px);
}

.container>*>* {
	flex: 1;
	transform: translateZ(12px);
}

.container.draggin>*>* {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.sampleBox {
	cursor: pointer;
	color: white;
}