.container {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	transform-style: preserve-3d;
	transform: translateY(-2px) rotateX(90deg);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
}

.grid {
	display: flex;
	left: 2%;
	height: 100%;
	position: absolute;
	width: 98%;
	transform: none;
	justify-content: space-evenly;
	transform-style: preserve-3d;
}

.sample * {
	transition: all .5s;
}

.row {
	display: flex;
	justify-content: space-evenly;
	transform: scale(0.5) translateY(50%);
	transform-style: preserve-3d;
}

.column {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: space-between;
	transform-origin: 0 0;
	transform-style: preserve-3d;
}

.column>*:not(.row), .column {
	border: 0.1px solid rgba(255, 255, 255, 0.3);
}

.column>* {
	height: 100%;
	width: 100%;
}