.container {
	position: absolute;
	top: 10vh;
	left: 50vw;
	transform-style: preserve-3d;
	transform: translateX(-50%) rotateY(-5deg) rotateX(-5deg);
	transition: transform .4s ease-out;
	will-change: transform;
}

.zoomShelf {
	transform: translateX(-50%) rotateX(-35deg) scale(1.4) translateY(calc(-100%*var(--zoomedShelf)/var(--numOfShelves)));
}

.zoomedShelf {
	transform: translateZ(var(--depth)) rotateX(-30deg);
}

.shelf {
	left: 3.7%;
	position: relative;
}

.shelfGroup {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: space-evenly;
}

.unsortedBoxes {
	right: 5vw;
	bottom: 10vh;
	position: absolute;
}

.draggin>*>*>*>*>* {
	border: 1px solid rgba(0, 0, 0, 0.3);
}