.container {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: 3;
}

.box {
	position: absolute;
	transition: transform .5s ease-out, left .5s ease-out, top .5s ease-out;
}

.hideContainer {
	animation: hideContainer .5s linear forwards;
}

.box.zoomIn {
	left: 50% !important;
	top: 50% !important;
	transform: translate(-50%, -50%);
}

.box>* {
	transition: all .5s ease-out;
}

.hide {
	animation: hide .5s ease-out forwards;
}

@keyframes hide {
	from {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	to {
		transform: none;
	}
}

@keyframes hideContainer {
	0% {
		z-index: initial;
	}
	99% {
		z-index: initial;
	}
	100% {
		z-index: -1;
	}
}