.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: calc(100% - 1rem);
	margin: .5rem;
	width: calc(100% - 1rem);
	position: absolute;
	top: 0;
	left: 0;
	transform-style: preserve-3d;
	transform: translateX(1px) translateZ(1px);
}

.wrapper {
	transition: transform .4s ease-out;
	will-change: transform;
	cursor: pointer;
	transform-style: preserve-3d;
}

.sampleBox {
	transform: rotateX(-90deg);
}

.shelfBottom {
	position: absolute;
	bottom: 0;
	z-index: 2;
	transform: translateY(105%);
}

.emptyBoxPlaceholder {
	transform: rotateX(-90deg);
	height: 1rem;
}