.barcode {
	text-align: center;
}

.title {
	width: 100%;
}

.sampleModal *>.modal-content {
	width: max-content;
	min-width: 30vw;
}

.spinnerDiv {
	text-align: center;
}

.spinner {
	width: 50px !important;
	height: 50px !important;
}
