.inner {
	position: absolute;
	transform-style: preserve-3d;
	cursor: pointer;
}

.inner>* {
	transform-origin: right;
	transition: transform .5s;
}

.handle {
	position: absolute;
	top: 25%;
	left: 5%;
}