.navbar {
	background-color: #222831 !important;
}

.nav-link {
	color: #30475e !important;
}

.nav-link:hover, .navbar-brand {
	color: #c1a57b !important;
}

.nav-link.active:hover {
	color: #d8bc8e !important;
}

.nav-link.active {
	color: #c1a57b !important;
}