.face {
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}

.scene, .shape, .face, .face-wrapper, .cr {
	position: absolute;
	transform-style: preserve-3d;
}

.scene {
	transition: margin-top .1s;
}

.shape {
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	transform-origin: 50%;
}

.face, .face-wrapper {
	overflow: hidden;
	transform-origin: 0 0;
	backface-visibility: hidden;
}

.face {
	background-size: 100% 100% !important;
	background-position: center;
}

.face-wrapper .face {
	left: 100%;
	width: 100%;
	height: 100%;
}

.photon-shader {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.side {
	left: 50%;
}

.cr, .cr .side {
	height: 100%;
}

.cylinder .tp {
	transform: rotateX(90deg) translateY(-50%);
}

.cylinder .bm {
	transform: rotateX(-90deg) translateY(-50%);
}

.cylinder .tp, .cylinder .bm, .cylinder .tp .photon-shader, .cylinder .bm .photon-shader {
	border-radius: 50%;
}

.cylinder .bm {
	top: 100%;
}

.tube {
	transform: translate3D(0em, 0em, -1em) rotateX(0deg) rotateY(270deg) rotateZ(90deg);
	opacity: 1;
	width: 0.7361111111111118em;
	height: 4.888888888888889em;
	margin: -2.4444444444444446em 0 0 -0.3680555555555559em;
}

.tube .tp, .tube .bm {
	width: 0.7361111111111118em;
	height: 0.7361111111111118em;
}

.tube .side {
	width: 0.19301255753719387em;
	height: 42px;
}

.tube .s0 {
	transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.3430555555555559em);
}

.tube .s1 {
	transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.3430555555555559em);
}

.tube .s2 {
	transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.3430555555555559em);
}

.tube .s3 {
	transform: rotateY(90deg) translate3D(-50%, 0, 0.3430555555555559em);
}

.tube .s4 {
	transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.3430555555555559em);
}

.tube .s5 {
	transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.3430555555555559em);
}

.tube .s6 {
	transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.3430555555555559em);
}

.tube .s7 {
	transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.3430555555555559em);
}

.tube .s8 {
	transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.3430555555555559em);
}

.tube .s9 {
	transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.3430555555555559em);
}

.tube .s10 {
	transform: rotateY(270deg) translate3D(-50%, 0, 0.3430555555555559em);
}

.tube .s11 {
	transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.3430555555555559em);
}

.tube .s12 {
	transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.3430555555555559em);
}

.tube .s13 {
	transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.3430555555555559em);
}