.container {
	perspective: 1000vh;
	perspective-origin: 0 0;
	transform-style: preserve-3d;
	display: flex;
	justify-content: center;
}

.box {
	height: var(--height);
	width: var(--width);
	transform-style: preserve-3d;
}

.draggable .front, .draggable .back, .draggable .left, .draggable .right, .draggable .top, .draggable .bottom {
	pointer-events: auto;
}

.draggable * {
	user-select: none;
}

.dragging, .dragging * {
	transition: transform 0s !important;
}

.front, .back, .left, .right, .top, .bottom {
	position: absolute;
	text-align: center;
	pointer-events: none;
	font-size: calc(var(--width) / 7);
}

.front, .back {
	width: var(--width);
	height: var(--height);
	line-height: var(--height);
}

.right, .left {
	width: var(--depth);
	height: var(--height);
	line-height: var(--height);
	left: calc((var(--width) - var(--depth)) / 2);
}

.top, .bottom {
	width: var(--width);
	height: var(--depth);
	line-height: var(--depth);
	top: calc((var(--height) - var(--depth)) / 2);
}

.front {
	transform: rotateY( 0deg) translateZ( calc(var(--depth) / 2));
}

.back {
	transform: rotateY(180deg) translateZ( calc(var(--depth) / 2));
}

.right {
	transform: rotateY( 90deg) translateZ(calc(var(--width) / 2));
}

.left {
	transform: rotateY(-90deg) translateZ(calc(var(--width) / 2));
}

.top {
	transform: rotateX( 90deg) translateZ(calc(var(--height) / 2));
}

.bottom {
	transform: rotateX(-90deg) translateZ(calc(var(--height) / 2));
}