[class*="__"] {
	box-sizing: content-box;
}

.rbt-highlight-text {
	font-weight: bold;
	padding: 0;
	background: none;
}

.rbt-input-wrapper {
	display: flex;
}

.orm-control.rbt-input {
	z-index: 2;
}

.rbt-menu.dropdown-menu.show {
	z-index: 1;
}

.content {
	z-index: 1;
}

.modal-content {
	background-color: #ececec;
}

.sampleModal *> .modal-content {
	background-color: #ececec;
	width: max-content;
	min-width: 30vw;
}