.container {
	height: 100vh;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	overflow: hidden;
	z-index: -1;
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
}

.stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 953px 4404px #FFF, 1463px 1378px #FFF, 1747px 1482px #FFF, 1165px 1529px #FFF, 1434px 606px #FFF, 1127px 1442px #FFF, 502px 748px #FFF, 963px 781px #FFF, 832px 1648px #FFF, 1389px 1843px #FFF, 903px 655px #FFF, 1574px 748px #FFF, 1355px 1221px #FFF, 1362px 1397px #FFF, 5px 15px #FFF, 822px 274px #FFF, 1197px 435px #FFF, 1051px 860px #FFF, 1081px 1845px #FFF, 1398px 318px #FFF, 71px 1190px #FFF, 1373px 243px #FFF, 1561px 1745px #FFF, 807px 370px #FFF, 587px 1597px #FFF, 284px 177px #FFF, 1330px 1414px #FFF, 583px 254px #FFF, 447px 357px #FFF, 1116px 687px #FFF, 68px 1160px #FFF, 1063px 110px #FFF, 1728px 1246px #FFF, 395px 214px #FFF, 1345px 851px #FFF, 638px 494px #FFF, 48px 1350px #FFF, 1977px 543px #FFF, 872px 1699px #FFF, 1773px 1914px #FFF, 1385px 297px #FFF, 1772px 774px #FFF, 392px 1787px #FFF, 603px 1446px #FFF, 205px 109px #FFF, 1915px 1639px #FFF, 1522px 1038px #FFF, 1718px 1056px #FFF, 1768px 143px #FFF, 1725px 1383px #FFF, 374px 291px #FFF, 1819px 762px #FFF, 1181px 1874px #FFF, 812px 37px #FFF, 567px 610px #FFF, 1443px 26px #FFF, 1580px 329px #FFF, 252px 1878px #FFF, 470px 1738px #FFF, 1761px 1365px #FFF, 784px 217px #FFF, 665px 481px #FFF, 95px 1543px #FFF, 1396px 731px #FFF, 531px 946px #FFF, 272px 1884px #FFF, 861px 546px #FFF, 1994px 1881px #FFF, 1970px 733px #FFF, 1014px 868px #FFF, 1675px 1520px #FFF, 977px 692px #FFF, 1370px 160px #FFF, 243px 431px #FFF, 264px 1957px #FFF, 1966px 978px #FFF, 1964px 1811px #FFF, 1189px 1082px #FFF, 1331px 863px #FFF, 831px 934px #FFF, 1024px 567px #FFF, 919px 1514px #FFF, 1413px 356px #FFF, 754px 615px #FFF, 642px 1409px #FFF, 1422px 556px #FFF, 470px 1126px #FFF, 839px 1085px #FFF, 1789px 852px #FFF, 915px 642px #FFF, 136px 1957px #FFF, 529px 1618px #FFF, 1792px 1538px #FFF, 981px 1044px #FFF, 1442px 607px #FFF, 1061px 344px #FFF, 1874px 888px #FFF, 389px 30px #FFF, 1319px 1249px #FFF, 562px 1265px #FFF, 965px 1511px #FFF, 523px 805px #FFF, 136px 601px #FFF, 1748px 1660px #FFF, 1875px 1287px #FFF, 1323px 55px #FFF, 1409px 42px #FFF, 1999px 1758px #FFF, 744px 1836px #FFF, 1079px 830px #FFF, 762px 399px #FFF, 1366px 1096px #FFF, 579px 1925px #FFF, 993px 787px #FFF, 947px 96px #FFF, 594px 95px #FFF, 1314px 513px #FFF, 789px 708px #FFF, 1850px 1612px #FFF, 1120px 1127px #FFF, 1227px 1455px #FFF, 1193px 840px #FFF, 613px 1510px #FFF, 764px 158px #FFF, 943px 287px #FFF, 269px 1850px #FFF, 1830px 1085px #FFF, 950px 520px #FFF, 1206px 120px #FFF, 1599px 205px #FFF, 1847px 1353px #FFF, 78px 1191px #FFF, 1098px 1560px #FFF, 357px 1165px #FFF, 42px 64px #FFF, 1182px 707px #FFF, 1333px 1937px #FFF, 886px 1527px #FFF, 1874px 1103px #FFF, 1709px 1132px #FFF, 503px 197px #FFF, 888px 159px #FFF, 1831px 432px #FFF, 1810px 114px #FFF, 1px 194px #FFF, 495px 641px #FFF, 444px 205px #FFF, 1356px 1939px #FFF, 337px 1393px #FFF, 871px 955px #FFF, 1855px 1970px #FFF, 1652px 1329px #FFF, 644px 452px #FFF, 600px 1890px #FFF, 1517px 1515px #FFF, 193px 1502px #FFF, 621px 1868px #FFF, 119px 567px #FFF, 1073px 156px #FFF, 1411px 1026px #FFF, 923px 1155px #FFF, 792px 1557px #FFF, 583px 1403px #FFF, 147px 1835px #FFF, 1005px 206px #FFF, 1501px 1253px #FFF, 739px 1730px #FFF, 1010px 1259px #FFF, 1366px 961px #FFF, 1607px 1556px #FFF, 992px 1776px #FFF, 319px 1949px #FFF, 1149px 1652px #FFF, 1149px 1527px #FFF, 1761px 352px #FFF, 1412px 207px #FFF, 319px 1302px #FFF, 1937px 318px #FFF, 1152px 1751px #FFF, 274px 1680px #FFF, 820px 1142px #FFF, 609px 617px #FFF, 1868px 1543px #FFF, 10px 1250px #FFF, 1011px 1485px #FFF, 1284px 1472px #FFF, 830px 1530px #FFF, 1317px 1780px #FFF, 796px 1209px #FFF, 27px 467px #FFF, 1590px 952px #FFF, 611px 405px #FFF, 1930px 1372px #FFF, 1343px 307px #FFF, 1257px 1480px #FFF, 942px 1281px #FFF, 1259px 1695px #FFF, 1270px 679px #FFF, 295px 341px #FFF, 1933px 1367px #FFF;
	animation: animStar 200s linear infinite;
}

.stars:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 953px 4404px #FFF, 1463px 1378px #FFF, 1747px 1482px #FFF, 1165px 1529px #FFF, 1434px 606px #FFF, 1127px 1442px #FFF, 502px 748px #FFF, 963px 781px #FFF, 832px 1648px #FFF, 1389px 1843px #FFF, 903px 655px #FFF, 1574px 748px #FFF, 1355px 1221px #FFF, 1362px 1397px #FFF, 5px 15px #FFF, 822px 274px #FFF, 1197px 435px #FFF, 1051px 860px #FFF, 1081px 1845px #FFF, 1398px 318px #FFF, 71px 1190px #FFF, 1373px 243px #FFF, 1561px 1745px #FFF, 807px 370px #FFF, 587px 1597px #FFF, 284px 177px #FFF, 1330px 1414px #FFF, 583px 254px #FFF, 447px 357px #FFF, 1116px 687px #FFF, 68px 1160px #FFF, 1063px 110px #FFF, 1728px 1246px #FFF, 395px 214px #FFF, 1345px 851px #FFF, 638px 494px #FFF, 48px 1350px #FFF, 1977px 543px #FFF, 872px 1699px #FFF, 1773px 1914px #FFF, 1385px 297px #FFF, 1772px 774px #FFF, 392px 1787px #FFF, 603px 1446px #FFF, 205px 109px #FFF, 1915px 1639px #FFF, 1522px 1038px #FFF, 1718px 1056px #FFF, 1768px 143px #FFF, 1725px 1383px #FFF, 374px 291px #FFF, 1819px 762px #FFF, 1181px 1874px #FFF, 812px 37px #FFF, 567px 610px #FFF, 1443px 26px #FFF, 1580px 329px #FFF, 252px 1878px #FFF, 470px 1738px #FFF, 1761px 1365px #FFF, 784px 217px #FFF, 665px 481px #FFF, 95px 1543px #FFF, 1396px 731px #FFF, 531px 946px #FFF, 272px 1884px #FFF, 861px 546px #FFF, 1994px 1881px #FFF, 1970px 733px #FFF, 1014px 868px #FFF, 1675px 1520px #FFF, 977px 692px #FFF, 1370px 160px #FFF, 243px 431px #FFF, 264px 1957px #FFF, 1966px 978px #FFF, 1964px 1811px #FFF, 1189px 1082px #FFF, 1331px 863px #FFF, 831px 934px #FFF, 1024px 567px #FFF, 919px 1514px #FFF, 1413px 356px #FFF, 754px 615px #FFF, 642px 1409px #FFF, 1422px 556px #FFF, 470px 1126px #FFF, 839px 1085px #FFF, 1789px 852px #FFF, 915px 642px #FFF, 136px 1957px #FFF, 529px 1618px #FFF, 1792px 1538px #FFF, 981px 1044px #FFF, 1442px 607px #FFF, 1061px 344px #FFF, 1874px 888px #FFF, 389px 30px #FFF, 1319px 1249px #FFF, 562px 1265px #FFF, 965px 1511px #FFF, 523px 805px #FFF, 136px 601px #FFF, 1748px 1660px #FFF, 1875px 1287px #FFF, 1323px 55px #FFF, 1409px 42px #FFF, 1999px 1758px #FFF, 744px 1836px #FFF, 1079px 830px #FFF, 762px 399px #FFF, 1366px 1096px #FFF, 579px 1925px #FFF, 993px 787px #FFF, 947px 96px #FFF, 594px 95px #FFF, 1314px 513px #FFF, 789px 708px #FFF, 1850px 1612px #FFF, 1120px 1127px #FFF, 1227px 1455px #FFF, 1193px 840px #FFF, 613px 1510px #FFF, 764px 158px #FFF, 943px 287px #FFF, 269px 1850px #FFF, 1830px 1085px #FFF, 950px 520px #FFF, 1206px 120px #FFF, 1599px 205px #FFF, 1847px 1353px #FFF, 78px 1191px #FFF, 1098px 1560px #FFF, 357px 1165px #FFF, 42px 64px #FFF, 1182px 707px #FFF, 1333px 1937px #FFF, 886px 1527px #FFF, 1874px 1103px #FFF, 1709px 1132px #FFF, 503px 197px #FFF, 888px 159px #FFF, 1831px 432px #FFF, 1810px 114px #FFF, 1px 194px #FFF, 495px 641px #FFF, 444px 205px #FFF, 1356px 1939px #FFF, 337px 1393px #FFF, 871px 955px #FFF, 1855px 1970px #FFF, 1652px 1329px #FFF, 644px 452px #FFF, 600px 1890px #FFF, 1517px 1515px #FFF, 193px 1502px #FFF, 621px 1868px #FFF, 119px 567px #FFF, 1073px 156px #FFF, 1411px 1026px #FFF, 923px 1155px #FFF, 792px 1557px #FFF, 583px 1403px #FFF, 147px 1835px #FFF, 1005px 206px #FFF, 1501px 1253px #FFF, 739px 1730px #FFF, 1010px 1259px #FFF, 1366px 961px #FFF, 1607px 1556px #FFF, 992px 1776px #FFF, 319px 1949px #FFF, 1149px 1652px #FFF, 1149px 1527px #FFF, 1761px 352px #FFF, 1412px 207px #FFF, 319px 1302px #FFF, 1937px 318px #FFF, 1152px 1751px #FFF, 274px 1680px #FFF, 820px 1142px #FFF, 609px 617px #FFF, 1868px 1543px #FFF, 10px 1250px #FFF, 1011px 1485px #FFF, 1284px 1472px #FFF, 830px 1530px #FFF, 1317px 1780px #FFF, 796px 1209px #FFF, 27px 467px #FFF, 1590px 952px #FFF, 611px 405px #FFF, 1930px 1372px #FFF, 1343px 307px #FFF, 1257px 1480px #FFF, 942px 1281px #FFF, 1259px 1695px #FFF, 1270px 679px #FFF, 295px 341px #FFF, 1933px 1367px #FFF;
}

.stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1440px 587px #FFF, 1367px 1990px #FFF, 1437px 417px #FFF, 616px 474px #FFF, 1040px 1889px #FFF, 1470px 588px #FFF, 1687px 1929px #FFF, 200px 1895px #FFF, 246px 1628px #FFF, 238px 408px #FFF, 574px 139px #FFF, 518px 140px #FFF, 360px 300px #FFF, 1943px 990px #FFF, 1008px 644px #FFF, 1422px 1876px #FFF, 1913px 924px #FFF, 1152px 971px #FFF, 351px 807px #FFF, 1694px 237px #FFF, 1956px 1362px #FFF, 1717px 42px #FFF, 1323px 326px #FFF, 170px 1407px #FFF, 1912px 1459px #FFF, 1306px 310px #FFF, 1348px 1795px #FFF, 209px 125px #FFF, 1738px 908px #FFF, 1893px 1852px #FFF, 991px 1161px #FFF, 841px 329px #FFF, 936px 582px #FFF, 724px 612px #FFF, 1623px 1923px #FFF, 1125px 517px #FFF, 1953px 1745px #FFF, 326px 832px #FFF, 680px 1518px #FFF, 1142px 953px #FFF, 121px 226px #FFF, 421px 596px #FFF, 1280px 1180px #FFF, 425px 1508px #FFF, 697px 1076px #FFF, 1069px 1438px #FFF, 164px 78px #FFF, 540px 519px #FFF, 224px 1663px #FFF, 610px 1667px #FFF;
	animation: animStar 400s linear infinite;
}

.stars2:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1440px 587px #FFF, 1367px 1990px #FFF, 1437px 417px #FFF, 616px 474px #FFF, 1040px 1889px #FFF, 1470px 588px #FFF, 1687px 1929px #FFF, 200px 1895px #FFF, 246px 1628px #FFF, 238px 408px #FFF, 574px 139px #FFF, 518px 140px #FFF, 360px 300px #FFF, 1943px 990px #FFF, 1008px 644px #FFF, 1422px 1876px #FFF, 1913px 924px #FFF, 1152px 971px #FFF, 351px 807px #FFF, 1694px 237px #FFF, 1956px 1362px #FFF, 1717px 42px #FFF, 1323px 326px #FFF, 170px 1407px #FFF, 1912px 1459px #FFF, 1306px 310px #FFF, 1348px 1795px #FFF, 209px 125px #FFF, 1738px 908px #FFF, 1893px 1852px #FFF, 991px 1161px #FFF, 841px 329px #FFF, 936px 582px #FFF, 724px 612px #FFF, 1623px 1923px #FFF, 1125px 517px #FFF, 1953px 1745px #FFF, 326px 832px #FFF, 680px 1518px #FFF, 1142px 953px #FFF, 121px 226px #FFF, 421px 596px #FFF, 1280px 1180px #FFF, 425px 1508px #FFF, 697px 1076px #FFF, 1069px 1438px #FFF, 164px 78px #FFF, 540px 519px #FFF, 224px 1663px #FFF, 610px 1667px #FFF;
}

.stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 906px 11760px #FFF, 523px 1654px #FFF, 734px 261px #FFF, 525px 1975px #FFF, 846px 336px #FFF, 1009px 1603px #FFF, 1161px 1087px #FFF, 310px 1462px #FFF, 1749px 1349px #FFF, 1742px 2000px #FFF, 1011px 1906px #FFF, 727px 1471px #FFF, 51px 370px #FFF, 97px 1938px #FFF, 1169px 519px #FFF, 580px 1445px #FFF, 550px 1006px #FFF, 1047px 360px #FFF, 1911px 1995px #FFF, 695px 748px #FFF, 832px 60px #FFF, 53px 798px #FFF, 944px 1957px #FFF, 1482px 1252px #FFF, 1049px 765px #FFF, 1111px 1603px #FFF, 2px 1618px #FFF, 480px 212px #FFF, 720px 724px #FFF, 440px 516px #FFF;
	animation: animStar 600s linear infinite;
}

.stars3:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 906px 11760px #FFF, 523px 1654px #FFF, 734px 261px #FFF, 525px 1975px #FFF, 846px 336px #FFF, 1009px 1603px #FFF, 1161px 1087px #FFF, 310px 1462px #FFF, 1749px 1349px #FFF, 1742px 2000px #FFF, 1011px 1906px #FFF, 727px 1471px #FFF, 51px 370px #FFF, 97px 1938px #FFF, 1169px 519px #FFF, 580px 1445px #FFF, 550px 1006px #FFF, 1047px 360px #FFF, 1911px 1995px #FFF, 695px 748px #FFF, 832px 60px #FFF, 53px 798px #FFF, 944px 1957px #FFF, 1482px 1252px #FFF, 1049px 765px #FFF, 1111px 1603px #FFF, 2px 1618px #FFF, 480px 212px #FFF, 720px 724px #FFF, 440px 516px #FFF;
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2500px);
	}
}